#LoginPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  height: 100vh; 
  width: 100vw; 

  /* Background image */
  background-image: url("https://images.pexels.com/photos/1365425/pexels-photo-1365425.jpeg?cs=srgb&dl=pexels-sanmane-1365425.jpg&fm=jpg");
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  margin: 0; 
  box-sizing: border-box; 
  }

  input {
    display: block;
    width: 20%;
    margin: 8px 0;
    padding: 10px;
    border: 1px solid #ddd;
  }

#deleteBtn,#loginBtn, #logoutBtn, #registerBtn, #googleBtn {
    width: 20%;
    margin: 5px 0;
    padding: 10px;
    color: black;
    background: #ffffff;
    border: 1px solid #ddd;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  #deleteBtn:hover,#loginBtn:hover, #logoutBtn:hover, #registerBtn:hover, #googleBtn:hover {
    background: #f5f5f5;
  }

h1 {
    text-align: center;
    margin-bottom: 20px;
  }