#GearRecTitle{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1% 30%;
    border-radius: 12px;
    color: rgb(24, 67, 11);
    background-color: rgb(201, 203, 200);
    z-index: 5; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: nowrap; 
    text-overflow: ellipsis; 
    overflow: hidden; 
}

#forecastContainer {
    width: 80vw;
    padding-top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: red; */
}

.forecast-day{
    padding-left: 2vh;
    height: 40vh;
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(201, 203, 200);
    /* background-color: blue;  */
}

#searchContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center; 
  }
  
  /* #searchInput {
    width: 300px; 
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px; 
  } */

  #latitudeInput {
    width: 300px; 
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px; 
  }

  #longitudeInput {
    width: 300px; 
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px; 
  }
  
  #searchButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: green; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
  }
  
  #searchButton:hover {
    background-color: darkgreen; 
  }