#GearRecTitle{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1% 30%;
    border-radius: 12px;
    color: rgb(24, 67, 11);
    background-color: rgb(201, 203, 200);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#forecastContainer {
    padding-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: red; */
}

.forecast-day{
    padding-left: 5vh;
    height: 55vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: blue;  */
}